# /etc/systemd/system
[Unit]
Description=Ceph RBD Docker VolumeDriver Plugin
Wants=docker.service
Before=docker.service

[Service]
ExecStart=/usr/local/bin/rbd-docker-plugin
Restart=on-failure

[Install]
WantedBy=multi-user.target
